.carInfo{
    padding-top: 2rem;
    
    .container{ 
        padding-bottom: 1rem;
        padding-left: 0.7rem;
        padding-top: 0.5rem;
    }
    &__background {
        background-color: #3D4446;
    }
    &__title {

        display: flex; 

        .bullet {
            flex: 1;
            
            margin-left: 0.8rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        
            &__one{
    
                width: 4px;
                height: 18px;
                background: #fab90a;
                border-radius: 35%;
            }
        
        }

        h3 {
            flex: 20;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            font-size: 1rem;
            color: white;
            align-self: start;
            justify-content: start;
        }



    }

    &__first {
        
        .pic {
            .img {
                width: 100%;
                height: 190px;
                background-image: url('../../images/car.jpeg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                
            }
        }
    
        h3 {
            margin-bottom: 0;
            justify-content: center;
            align-self: center;
            margin-left: 1rem;
            color: #fff;
            font-family: inherit;
            font-size: 1.3rem;
            font-weight: 300;
            
    
        }
    }
    &__info {
        display: flex;
        align-items: center;
        margin-top: 0px;
        .pic {
            align-self: center;
            .img {
                background-image: url('../../images/car.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                
                height: 35px;
                width: 35px;
                border-radius: 50%;
            }
            .img2 {
                background-image: url('../../images/bat.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                
                height: 30px;
                width: 30px;
                border-radius: 50%;

            }
        }
        .info {
            align-self: center;
            margin-left: 1rem;
            span {
                color: white;
                font-size: 1.5rem;
                text-align: center;
            }
            p {

                color: white;
                text-align: center;
                margin-top: 0px;
                margin-bottom: 0px;
            }
            h5 {
                margin-top: 0px;
                margin-bottom: 0px;
                color: white;

            }
        }
    }
}