
.choices {

    @include breakpoint-down(small) {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #3D4446;


    }
    @include breakpoint-up(medium) {
        height: auto;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
        border-radius: 0.3125rem;
        overflow: hidden;
        margin-right: 2rem;

    }
    .container {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-left: 1.3rem;
        margin-right: 1.3rem;
        align-items: center;
    
    }
    display: flex;
    align-items: center;
    justify-content: center;

    &__first {
        
        flex: 1;
        margin-right: 4rem;
        //background-image: url('../../images/stat.png');
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        @include breakpoint-up(medium) {
            width: 3.5rem;
            height: 3.5rem;
        }
        .cls-1 {
            fill: #fab90a;
        }


    }
    
    &__second {
        flex: 1;
        margin-right: 4rem;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        @include breakpoint-up(medium) {
            width: 3.5rem;
            height: 3.5rem;
        }

        .cls-2 {
            fill: white;
        }

    }

    &__third {
        flex: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 2rem;
        height: 2rem;
        @include breakpoint-up(medium) {
            width: 3.5rem;
            height: 3.5rem;
        }
        border-radius: 50%;
        .st1 {
            fill: #fab90a;
            stroke: #3D4446;
            
        }
        
    }
}