
.container {
    padding-top: 2.2rem;
    padding-bottom: 2rem;
}

.header {
    display: flex;
    align-items: center;
    
    &__pic {
        background-image: url('../../images/people-14-512.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        flex: 1;
        height: 154px;
        width: 147px;
        
    }

    &__name {
        flex: 1;
        justify-content: center;
        align-self: center;
        margin-left: 2rem;
        color: #fff;
        font-family: inherit;
        font-weight: 200;
        

    }
}