.hero {
    width: 100%;
    height: auto;
    margin-bottom: 2.3rem;
    &__background {
        background-color: #3D4446;
    }
    &__title {

        display: flex; 

        .bullet {
            flex: 1;
            
            margin-left: 0.8rem;
            margin-top: 0.5rem;
                
        
            &__one{
    
                width: 4px;
                height: 18px;
                background: #fab90a;
                border-radius: 35%;
            }
        
        }

        h3 {
            flex: 20;
            margin-top: 0.5rem;
            font-size: 1rem;
            color: white;
            align-self: start;
            justify-content: start;
        }



    }
    &__info {
        display: flex; 
        align-items: center;
        justify-content: center;
        margin-left: 2rem; 
        margin-right: 2rem;
        .circle {
            flex: 1;
            
            margin-top: 3px;
            
        
            &__one{
    
                width: 5px;
                height: 5px;
                background: #fab90a;
                border-radius: 60%;
            }
        
        }

        p {
            flex: 22;
            font-size: 0.8rem;
            font-family: Arial, Helvetica, sans-serif;
            
            color: white;

        }
       
    }
    
}