.feature {
    &__text {
        padding-top: 0px 40px 40px 40px;
        
        width: 550px;
        @include breakpoint-down(medium) {
            width: 400px;
        }
        margin-left: auto;
        margin-right: auto;
        

    }
    &__grid {

        @include breakpoint-up(medium) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

    }

    &__item {
        padding: 1rem;
        
        @include breakpoint-up(medium) {
            flex: 0 0 50%;
        }
        
        @include breakpoint-up(large) {
            flex: 1;
          

        }


    }


    &__icon {
        margin-bottom: 1.875rem;

        @include breakpoint-up(large) {
            margin-bottom: 2.75rem;
        }
        text-align: center;

    }

    &__title {
        font-weight: 600;
        line-height: 1.15;
        color: $darkBlue;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1.5rem;
        @include breakpoint-up(large) {
            margin-bottom: 2.25rem;
        }

    }
    &__description {
        text-align: center;
        font-size: 1.3rem;
        color: $darkBlue;
        @include breakpoint-up(large) {
            width: 300px;
            margin: auto;
        }

    }
}